.categories {
    width: 207px;
    height: 100%;
    background-color: $light;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &-single {
        width: 210px;
        height: 30px;
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #000;
        padding-top: 5px;
        border-top: 1px solid #A0A0A0;
        cursor: pointer;

        &:hover {
            background-color: $yellow1;
        }
    }

    &-add {
        width: 210px;
        height: 30px;
        border-bottom: 1px solid #A0A0A0;
        border-top: 1px solid #A0A0A0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grey;
    }

    &-row {
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-input {
        width: 170px;
        margin-left: 2px;
        height: 25px;
        color: black;
        padding-left: 8px;
        padding-right: 8px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        box-shadow: inset 0px 0px 10px #A9EBB0;
        border-radius: 10px;
        font-size: 12px;
    }

    &-image {
        margin-right: 5px;
        background-image: url('../../public/images/check.svg');
        width: 17px;
        height: 17px;
        background-repeat: none;
        background-position: center;
        cursor: pointer;
    }

    &-button {
        width: 58px;
        height: 17px;
        background-color: $light;
        border: 1px solid #A0A0A0;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #A0A0A0;
        font-size: 20px;
        font-weight: 700;


        &:hover {
            background-color: $yellow2
        }

    }
}