.dishes {
    scroll-snap-align: start;
    width: 400px;
    height: 76vh;
    border-right: 2px solid $grey;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    
    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-thumb{
        display: block;
        width: 6px;
        height: 10px;
        border-radius: 50px;
        background-color: $grey;
    }
    
    &::-webkit-scrollbar-track {
        opacity: 0;
    }
}



.dish {
    width: 360px;
    height: 129px;
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: pointer;

    &-img-cont {
        width: 81px;
        height: 81px;
        border-radius: 100%;
        background-image: url('../../public/images/dish-list.png');
        background-repeat: no-repeat;
        background-position: center;
        @include FlexCenter();
    }

    &-header {
        font-size: 16px;
        line-height: 20px;
        color: #000;
    }

    &-ingredient {
        @include FlexCenter();
        border-radius: 7px;
        height: 22px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        line-height: 19px;
        color: #000;
    }

    &-category {
        @include FlexCenter();
        background-color: $yellow2;
        width: fit-content;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        height: 22px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 7px;
        margin-top: 5px;
    }
}

.row4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 249px;
    justify-content: space-between;
}

.row3 {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cat-row {
    margin-top: 5px;
    margin-bottom: 10px;
}

.edit-image-cont {
    position: relative;

    .edit-picture-dish {
        position: absolute;
            top: -25px;
            left: 15px;
    }
}
