.promotions-wrapper {
    width: 1140px;
    height: 85vh;
    margin-bottom: 25px;
    background-color: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

}

.promotion-inner-block {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    scrollbar-width: thin;
    
    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-thumb{
        display: block;
        width: 6px;
        height: 10px;
        border-radius: 50px;
        background-color: $grey;
    }
    
    &::-webkit-scrollbar-track {
        opacity: 0;
    }

}

.promotion {
    background-color: $light;
    width: 748px;
    height: 241px;
    border: 1px solid $grey;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    grid-column-gap: 15px;
    -ms-grid-row-align: start;
    grid-row-gap: 15px;
    position: relative;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 155px 148px 370px;

    &-img-cont {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column: 1;
        margin-right: 5px;
    }

    &-label {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    &-input {
        width: 370px;
        height: 30px;
        border: 1px solid #000000;
        border-radius: 10px;
        padding-left: 14px;
        padding-right: 14px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    &-textarea {
        width: 370px;
        height: 75px;
        border: 1px solid #000000;
        border-radius: 10px;
        resize: none;
        padding-left: 14px;
        padding-right: 14px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding-top: 4px;
    }

    &-upload {
        width: 120px;
        height: 25px;
        background: linear-gradient(274.42deg, #FFD727 6.4%, #FF9400 117.79%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
        @include FlexCenter();
        font-size: 16px;
        line-height: 20px;
        font-family: 'Montserrat';
        font-style: normal;
    }

    &-button {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        height: 30px;
        padding-left: 18px;
        padding-right: 18px;
        @include FlexCenter();
        margin-left: 20px;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Montserrat';
        font-style: normal;
    }

    .row {
        display: flex;
        justify-content: end;
        grid-column: 3;
    }

    &-img-cont {
        display: block;
        background-color: $grey;
        width: 155px;
        min-height: 180px;
        height: fit-content;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        overflow: hidden;
    }

    &-image {
        display: block;
        z-index: 0;
        width: 155px;
        height: 154px;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }

    &-block {
        z-index: 1;
        min-height: 26px;
        min-height: 24px;
        height: fit-content;
        width: 155px;
        background-color: $yellow1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5px;
    }

    &-abs-block {
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        width: 125px;
        height: 20px;
        background-color: $yellow1;
        display: block;
    }

    &-title {
        padding-top: 5px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        width: 125px;
        height: 20px;
        background-color: $yellow1;
        width: 120px;
        margin-top: -20px;
        margin-bottom: 3px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
    }

    &-description {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 9px;
        width: 110px;
        text-align: center;
        margin-top: 2px;
        z-index: 2;
        
    }
}

.promotion-file-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 12px;
    color: rgb(204, 5, 5);
    margin-left: 10px;
}

.promotion-row {
    margin-top: 20px;
    width: 748px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.promotion-warning {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.promotion-add-button {
    width: 150px;
    height: 25px;
    border-radius: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
}

.file-upload2 {
    display: none;
}