.categdrop {
    position: relative;
    cursor: pointer;

    &-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: -70px;
        bottom: 34px;
        width: 200px;
        background-color: $yellow1;
        border-radius: 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &-item {
        @include FlexCenter();
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;


        &:hover {
            background-color: $light;
        }
    }

    &-btn {
        width: 59px;
        height: 24px;
        @include FlexCenter();
        background-color: $yellow1;
        font-size: 30px;
        border-radius: 10px;
    }
}