@mixin FlexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Color variables

$yellow1: #FFDE73;
$light: #F9F6EC;
$lightred: #EBA9A9;
$lightgreen: #A9EBB0;
$yellow2: #FFE688;
$grey: #D9D9D9;

// Roots

body {
    background-color: $yellow2;
    
}

.app {
    width: 100%;
    height: 100%;
    @include FlexCenter();
    flex-direction: column;
}

#root {
    background-image: url('../../public/images/Frame\ 2.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    @include FlexCenter();
}

// Color classes

.green {background-color: $lightgreen;}
.red {background-color: $lightred;}
.yellow {background-color: $yellow1;}
.grey {background-color: $grey;}
.white {background-color: $light;}


// Additional classes

.hide {
    display: none;
}

.active {
    background-color: $yellow1;
}