@import './reset';
@import './roots';
@import './components/login';
@import './components/side-menu/HeaderSwitch';
@import './components/menu-editor/MenuEditor.scss';
@import './components/menu-editor/Categories';
@import './components/menu-editor/DishesList';
@import './components/menu-editor/EditSingleDish';


// UI

@import './UI/dropdown/Ingredient.scss';
@import './UI/dropdown/Category';