.header {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 490px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
    overflow: hidden;

    &-button {
        width: 160px;
        height: 40px;
        background-color: $light;
        @include FlexCenter();
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 26px;
        color: #000;
        cursor: pointer;
        border: 1px solid #000000;

        &:last-child {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        &:first-child {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }
    }

    .focused {
        background-color: $yellow1;
    }
}

.active {
    background-color: $yellow1;
}